[flake8]
max-line-length = 79
exclude = migrations, __pycache__, env
ignore =
    F401,  # 'импорт, но не используется'
    I001,  # isort нашёл импорт в неправильной позиции
    I004,  # isort нашёл неожиданный пустой строку в импортах
    W291,  # пробел в конце строки
    W292,  # отсутствие новой строки в конце файла
    W293,  # строка содержит пробел
    E123,  # неправильное выравнивание закрывающей скобки
    E261,  # требуется два пробела перед комментарием
    E262,  # комментарий должен начинаться с '# '
    E301   # ожидалась одна пустая строка, а найдена 0